* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {  
  background: #c5e6f1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 {
  width: 100vw;
  height: 100vw;  

  position: fixed;
  top: 0;
  
  visibility: hidden;

  background: #8080aa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-2.active {
  visibility: visible;
}

.wrapper {
  background: white;
  padding: 70px; 
  border-radius: 5px;  
  font-weight: 600;
}

button {
  padding: 15px;
  border-radius: 5px;
  border: 0;
  background: #1e73c2;
  font-weight: 500;
  color: white;
}
